<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Palindrom Checker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/happyhourstyle.css">
    </head>
    <body>
        <nav>
            <ul>
                <li id="logo">
                    <a href="/">
                        <h1>🍻 Broboken</h1>
                    </a>
                </li>
                <li>Venues</li>
                <li>Regions</li>
                <li>Search</li>
                <li><a href="/login">Log In</a></li>
                <li>
                    <a href="/signup" class="btn btn-primary">Sign Up</a>
                </li>
            </ul>
        </nav>
        {{{body}}}

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    </body>
</html>