<div class="container-fluid">
    <section id="venue-metadata">
        
    </section>
    <section id="venue">
        <label class="sports-bar">Sports Bar</label>
        <h1>The HUB Sports Venue</h1>
        <span>16 Hudson Pl, Hoboken, NJ 07030</span>
    </section>
</div>